body {
  font-family: "Raleway", sans-serif;
  color: #213053;
  margin: 0;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}

.header__logo {
  height: 30px;
}

a {
  text-decoration: none;
  color: #213053;
}

header a {
  font-size: 15px;
  font-weight: 600;
  margin-right: 25px;
}

header a:hover {
  color: #dc5e26;
  transition: color 0.1s linear;
}

button {
  font-family: "Raleway", sans—serif;
  font-size: 15px;
  color: #fff;
  background-color: #23a030;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
  padding: 15px;
}

button:hover {
  background-color: #f6980c;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition: background-color 0.3s linear;
}

button i {
  padding-left: 12px;
}

.animate__animated {
  --animate-duration: 2s;
}

/* About */

.about {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 140px;
  background: url("/img/back.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.about h1 {
  font-size: 70px;
  line-height: 76px;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

.about button {
  font-size: 18px;
  border-radius: 20px;
  padding: 20px 25px;
  margin-top: 20px;
}

.about__info {
  max-width: 550px;
}

.about__image {
  width: 600px;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about__sun-image {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: rotation 10s linear infinite;
}

/* Features */

.features {
  background-color: #fff;
  padding: 115px 60px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.card {
  padding: 35px 40px 25px 40px;
  border: 1px solid #d9e4e6;
  border-radius: 5px;
}

.card p {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
}

.card__logo {
  width: 100px;
  height: 100px;
  font-size: 32px;
  font-weight: 700;
  background-color: #eaeff9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__panel {
  font-size: 40px;
  color: #ffb406;
}

.logo__text {
  color: #ad1714;
}

.logo__chart {
  font-size: 40px;
  color: #22a030;
}

.features__border {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #e6eaf4;
}

.features__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__feedback-left {
  margin-right: 10px;
}

.features__feedback-left h2 {
  font-size: 48px;
}

.features__feedback-left p {
  font-size: 18px;
  line-height: 26px;
  opacity: 0.7;
}

.features__feedback-right {
  display: flex;
}

.features__box {
  padding: 30px 40px 25px 40px;
  color: #fff;
  border-radius: 25px;
}

.features__box h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
}

.features__savings-box {
  margin-right: 30px;
  background-color: #dc5e26;
  box-shadow: 0 6px 0px rgba(221 95 38 / 20%);
}

.features__rate-box {
  background-color: #1d263a;
  box-shadow: 0 6px 0px rgba(29 38 58 / 20%);
}

.fa-star {
  color: #ff7039;
}

/* Promo */

.promo {
  display: flex;
  flex-direction: row;
}

.promo__left {
  width: 50%;
  height: auto;
}

.promo__image {
  background-image: url("/img/promo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.promo__right {
  width: 50%;
  height: auto;
  background-color: #dd5f26;
  padding: 160px 60px;
}

.promo__right-card {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 25px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
}

.promo__right-card h2,
.promo__right-card p {
  opacity: 0.8;
}

.promo__right-card button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
}

.round__mark {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ec6b29;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 3px;
  opacity: 0.9;
}

/* Form */

.form__container {
  width: 550px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d263a;
  color: #fff;
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
}

.form h1 {
  font-size: 48px;
}

.form p {
  font-size: 18px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form form {
  display: grid;
  grid-gap: 20px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 15px;
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px 0 20px;
  border: none;
  border-radius: 15px;
}

.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}

select {
  appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* Footer */

footer {
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
}

.footer__container {
  display: flex;
  justify-content: center;
}

.footer__group {
  margin-right: 80px;
}

.footer__group h3 {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
}

.footer__links a:hover {
  color: #dc5e26;
  transition: color 0.1s linear;
}

.footer__copyright {
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
  opacity: 0.5;
}
