/* 1200px */

@media (max-width: 1200px) {
  .about__sun-image {
    width: 100px;
    height: 100px;
  }

  .about__image {
    width: 500px;
  }

  .features {
    padding: 80px 20px;
  }
}

/* 1024px */

@media (max-width: 1024px) {
  header,
  section,
  footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about,
  .form,
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about h1 {
    padding-top: 15px;
    font-size: 36px;
    line-height: 40px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .about__image {
    width: 350px;
  }

  .features {
    padding: 50px 10px;
  }

  .cards {
    grid-gap: 10px;
  }

  .promo {
    padding: 0;
    flex-direction: column-reverse;
  }

  .promo__left {
    width: 100%;
    height: 500px;
  }

  .promo__right {
    width: auto;
    padding: 50px 15px;
  }

  .promo__right-card {
    width: auto;
  }

  .footer__group {
    margin-right: 20px;
    padding-left: 10px;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}

/* 720px */

@media (max-width: 720px) {
  header,
  section,
  footer {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__logo {
    height: 20px;
  }

  header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .about__image {
    width: 280px;
  }

  .features {
    padding: 50px 10px;
  }

  .card {
    padding: 25px 30px 15px 30px;
  }

  .features__feedback {
    flex-direction: column;
  }

  .features__feedback-left {
    margin-right: 0;
  }

  .features__feedback-left h2 {
    font-size: 36px;
  }

  .features__feedback-right {
    flex-direction: column;
  }

  .features__box h3 {
    font-size: 36px;
  }

  .features__savings-box {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .cards {
    grid-template-columns: auto;
  }

  .promo {
    flex-direction: column-reverse;
  }

  .promo__left {
    width: 100%;
    height: 500px;
  }

  .footer__container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__copyright {
    padding-top: 30px;
  }
}
